 h1{
        color: rgb(229, 14, 171);
        text-align: center;
      }
      #wow{
        color: #0000ff;
        text-align: center;
      }
      #woo{
        color: rgb(43, 238, 17);
        text-align: center;
      }